.map {
  min-width: 450px;
  max-width: 600px;
  height: 85%;
  position: relative; 
  float: right; 

  &__offset {
    background-image: url('../images/img-4.png');
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 102;
  }
  
  &--u-r {
    top: 2rem;
    right: 3rem;
  }

  &--blue {
    background-color: $primary-blue;
  }

  &--yellow {
    background-color: $primary-yellow;
  }

  &--orange {
    background-color: $primary-orange;
  }
}